@model LibraryManagement.Models.Reader

<h1 class="mb-4">Delete Reader</h1>

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Are you sure you want to delete this reader?</h4>
</div>

<dl class="row">
  <dt class="col-sm-2">Reader Name</dt>
  <dd class="col-sm-10">@Model.Name</dd>

  <dt class="col-sm-2">Address</dt>
  <dd class="col-sm-10">@Model.Address</dd>

  <dt class="col-sm-2">Phone Number</dt>
  <dd class="col-sm-10">@Model.PhoneNumber</dd>
</dl>

<form asp-action="Delete">
  <input type="hidden" asp-for="ReaderCardId" />
  <button type="submit" class="btn btn-danger">Delete</button>
  <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
